APP_ENV=local
APP_DEBUG=true
APP_URL=http://verifapp.local
APP_VERSION=
MANAGER_SESSION_TTL_MINUTES=120
FIELD_QR_TOKEN=
PHARMACY_QR_TOKEN=
NOTIFICATIONS_EMAIL_ENABLED=0
NOTIFICATIONS_EMAIL_FROM=no-reply@verifapp.local
NOTIFICATIONS_EMAIL_FROM_NAME=VerifApp
NOTIFICATIONS_EMAIL_TRANSPORT=mail
NOTIFICATIONS_EMAIL_SMTP_HOST=
NOTIFICATIONS_EMAIL_SMTP_PORT=587
NOTIFICATIONS_EMAIL_SMTP_SECURITY=tls
NOTIFICATIONS_EMAIL_SMTP_AUTH=1
NOTIFICATIONS_EMAIL_SMTP_USER=
NOTIFICATIONS_EMAIL_SMTP_PASS=
NOTIFICATIONS_EMAIL_SMTP_TIMEOUT=12

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=verifapp
DB_USER=root
DB_PASSWORD=
